/* Global Selectors */

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
  text-decoration: underline;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

p {
  margin-top: 1px;
  margin-bottom: 0;
  line-height: 20px;
  font-size: 16px;
}
section {
  display:none;
}

#instructions-page {
  display:block;
}

.container {
  width:800px;
  max-width: 80%;
  background-color:thistle;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 10px lightslategrey;
}

.score-button,
.start-button,
.button,
.submit-initials,
.go-back-button,
.clear-scores-button {
  background-color:lightsteelblue;
  border: 1px, solid;
  padding: 5px 10px;
  border-radius: 8px;
  outline: none;
}

.show-timer {
  display: flex;
    justify-content: space-between;
    height: 100%;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-box {
  display:grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 30px, 0;
  padding: 30px;
}

.button:hover {
  border-color: black;
}

#timer {
  font-weight:bold;
  font-size: 15px;
  text-decoration: underline;
}

#timer:hover{
  color: black;
}

/*.question-page,
.final-score {
  display: none;
}*/

#display-score-button {

}

#display-score-button:hover {
  border-color: black;
}

.go-back-button, 
.clear-scores-button, 
.submit-initials {

}


